<div class="crs-visualisation" *ngIf="crsWrapper$ | async; let crsWrapper">
  <ng-container *ngIf="balanceItems$ | async; let balanceItems;">
    <h2 class="crs-visualisation-title">Accès</h2>
    <div class="crs-visualisation-acces"
      cdkDropList id="accesList"
      [cdkDropListData]="crsWrapper.acces"
      [cdkDropListDisabled]="isDragAccessDisabled(balanceItems.type)"
      [ngClass]="{'crs-not-draggable': isDragAccessDisabled(balanceItems.type), 'crs-draggable-proposal': isDragVplsDisabled(balanceItems.type) }"
      cdkDropListConnectedTo="balanceList">
      <app-crs-acces [class.crs-already-dragged]="isAlreadyDragged(balanceItems, a)" [cdkDragDisabled]="isAlreadyDragged(balanceItems, a)"
        *ngFor="let a of crsWrapper.acces" [acces]="a" cdkDrag></app-crs-acces>
    </div>
    <h2 class="crs-visualisation-title">Vpls</h2>
    <div class="crs-visualisation-vpls"
      cdkDropList id="vplsList"
      [cdkDropListData]="crsWrapper.vpls"
      [cdkDropListDisabled]="isDragVplsDisabled(balanceItems.type)"
      [ngClass]="{'crs-not-draggable': isDragVplsDisabled(balanceItems.type), 'crs-draggable-proposal': isDragAccessDisabled(balanceItems.type) }"
      cdkDropListConnectedTo="balanceList">
      <app-crs-vpls [class.crs-already-dragged]="isAlreadyDragged(balanceItems, v)" [cdkDragDisabled]="isAlreadyDragged(balanceItems, v)"
        *ngFor="let v of crsWrapper.vpls" [vpls]="v" cdkDrag></app-crs-vpls>
    </div>
  </ng-container>
</div>
